body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 75px;
    font-weight: 700;
    color: rgba(40, 54, 135, 1);
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 23px;
}

.logo {
    margin-top: 38px;
    width: 163px;
    height: 108px;
}

.navbar {
    margin-top: 38px;
}

.history-lines {
    margin: 0;
    padding: 0 147px;
}

.history-lines:last-child {
    margin-bottom: 138px; 
}

.history-lines-content {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(102, 155, 189, 1);
    border-radius: 10px;
}

.history-lines-content img {
    margin-right: 33px;
}

.history-lines-content img:last-child {
    margin-right: 0;
}

.history-lines-text {
    margin-right: 32px;
}

.history-lines-text p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}

.history-lines-content a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    color: rgba(102, 155, 189, 1);
    margin-top: 9px;
}

.show {
    margin: 0;
    padding: 10px;
}

.volna {
    margin: 80px 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

