body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0);
}

h1 {
    margin: 0;
    padding: 0;
    color: rgba(40, 54, 135, 1);
    font-size: 96px;
    font-weight: 700;
}

.main-title {
    margin: 0;
    padding: 0;
    width: 828px;
}

.main-title p {
    width: 505px;
    font-size: 40px;
    color: rgba(40, 54, 135, 1);
    text-align: center;
    margin-left: 122px;
}

.logo {
    margin-top: 38px;
    width: 163px;
    height: 108px;
}

.navbar {
    margin-top: 38px;
}

.team-list {
    margin: 0;
    padding: 0 208px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 167px;
    row-gap: 42px;
    column-gap: 60px;
}

.team-list-item {
    border: 3px solid rgba(102, 155, 189, 1);
    box-shadow: 9px 9px 12px 0px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 40px 41px;
    border-radius: 10px;
    width: 235px;
    list-style: none;
    text-align: center;
}

.team-photo {
    border: 3px solid rgba(102, 155, 189, 1);
    border-radius: 84px;
    padding: 7px;
    margin: 0;
    margin-bottom: 4px;
}

.team-list-item h3 {
    color: rgba(40, 54, 135, 1);
    font-size: 15xp;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

.post {
    color: rgba(102, 155, 189, 1);
    font-size: 15xp;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

.post-about {
    color: rgba(102, 155, 189, 1);
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
